/*
	Theme Name: FishBuddy
	Author: Kim Nyegaard Andreasen
	Version: 1.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Text Domain: fishbuddy
*/


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

#map {
	position: inherit !important;
	height: 100%;
}

.page-id-5 {
	height: 100%; 
	overflow:hidden; 
	padding:0; 
	margin:0;
}

body.home {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: hidden;
}

html {
    margin-top: unset !important;
}

.navbar {
	width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 999;
}

#single-map {
	position: inherit;
	width: 100%;
	height: 600px;
}

#single-header {
	padding: 15px 0px 15px 0px; 
}

#single-content {
	padding: 15px 0px 15px 0px; 
}

#map-container {
	width: 100% !important;
	padding: 15px 0px 15px 0px;
}

footer {
    z-index: 999;
}

.single-navigation {
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
}

.single-navigation a {
	margin: 0.5em 0.5em 0.5em 0.5em;
}

.footer {
	bottom: 25px;
    position: fixed;
}

.navbar-brand img {
	margin: 0.5em 0.5em 0.5em 0em;
	width: 2em; 
	height: auto;
}

.infobox ul {
	list-style-type: none;
	padding: 0;
}

/* 
* Custom CSS for pulsing marker
* Reference: http://jsfiddle.net/86Ejf/945
*/
@-moz-keyframes pulsate {
	from {
		-moz-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
}
/* get the container that's just outside the marker image, 
	which just happens to have our Marker title in it */
#map div[title="My location"] {
	-moz-animation: pulsate 1.5s ease-in-out infinite;
	-webkit-animation: pulsate 1.5s ease-in-out infinite;
	border:1pt solid #fff;
	/* make a circle */
	-moz-border-radius:51px;
	-webkit-border-radius:51px;
	border-radius:51px;
	/* multiply the shadows, inside and outside the circle */
	-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	/* set the ring's new dimension and re-center it */
	height:51px!important;
	margin:-18px 0 0 -18px;
	width:51px!important;
}
/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
#map div[title="My location"] img {
	display:none;
}
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
	#map div.gmnoprint[title="My location"] {
		margin:-10px 0 0 -10px;
	}
}

</style>
<!-- access to the HEAD element -->
<script type="text/javascript">
//alert('');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</script>
<style>